@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Overpass:wght@700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:focus {
	outline: none;
}

a.link {
	text-decoration: none;
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 0.1rem;
	transition: background-size .3s;
	
	&:hover,
	&:focus {
		background-size: 100% 0.1rem;
	}
}