$title-font: 'Overpass', sans-serif;
$paragraph-font: 'Open Sans', sans-serif;

$theme-color: #527ff4;
$theme-gradient: linear-gradient(340deg, #5275f1 0%, #54a3ff 100%);
$theme-accent: #ffffff;
$background-color: #ffffff;
$background-accent: #eaeaea;
$admin-background: #f3f3f7;
$title-color: #11132c;
$paragraph-color: #000000;
$shadow-color: #42444a66;
$red-gradient: linear-gradient(340deg, #c92f2f 0%, #fa7171 100%);
$red-color: #e24545;